In [2]:
df <- read.csv("comb1.csv")

In [3]:
dim(df)

[1] 19  5

In [4]:
df

   District    Highlighter Marker Pen  Refill
1  Ahmednagar  225          51     674  69
2  Aurangabad  162         159     755  50
3  Buldhana     30          32     616  38
4  Dhule       193         390     553  40
5  Goa          81         243     518  NA
6  Kolhapur    108         118     352  NA
7  Mumbai      119         160     391  29
8  Nadurbar    162         281     386 156
9  Nagpur      107         121     280  33
10 Nanded      111         240     761  28
11 Nasik       152         239     619  65
12 Pune        154         309     768 122
13 Raigad      174         436     545  40
14 Ratnagiri   326         398    1504  74
15 Sangli      121         110     221  47
16 Satara       72         156     373  NA
17 Sindhudurga  75         217    1253  77
18 Solapur     164         160     391  15
19 Thane       224         246     733  58

In [6]:
df[1,1]

[1] Ahmednagar
19 Levels: Ahmednagar Aurangabad Buldhana Dhule Goa Kolhapur ... Thane

In [7]:
class(df[1,1])

[1] "factor"

In [8]:
df[1,]

  District   Highlighter Marker Pen Refill
1 Ahmednagar 225         51     674 69

In [9]:
df[,1]

 [1] Ahmednagar  Aurangabad  Buldhana    Dhule       Goa         Kolhapur
 [7] Mumbai      Nadurbar    Nagpur      Nanded      Nasik       Pune
[13] Raigad      Ratnagiri   Sangli      Satara      Sindhudurga Solapur
[19] Thane
19 Levels: Ahmednagar Aurangabad Buldhana Dhule Goa Kolhapur ... Thane

In [10]:
df[,2]>150

 [1]  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE
[13]  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE

In [11]:
df[,2][df[,2]>150]

 [1] 225 162 193 162 152 154 174 326 164 224

In [12]:
sum(df[,2][df[,2]>200])

[1] 775

In [15]:
df[which(df$Pen>1000),]

   District    Highlighter Marker Pen  Refill
14 Ratnagiri   326         398    1504 74
17 Sindhudurga  75         217    1253 77

In [16]:
subset(df, Pen>1000)

   District    Highlighter Marker Pen  Refill
14 Ratnagiri   326         398    1504 74
17 Sindhudurga  75         217    1253 77

In [17]:
is.na(df)

      District Highlighter Marker Pen   Refill
 [1,] FALSE    FALSE       FALSE  FALSE FALSE
 [2,] FALSE    FALSE       FALSE  FALSE FALSE
 [3,] FALSE    FALSE       FALSE  FALSE FALSE
 [4,] FALSE    FALSE       FALSE  FALSE FALSE
 [5,] FALSE    FALSE       FALSE  FALSE  TRUE
 [6,] FALSE    FALSE       FALSE  FALSE  TRUE
 [7,] FALSE    FALSE       FALSE  FALSE FALSE
 [8,] FALSE    FALSE       FALSE  FALSE FALSE
 [9,] FALSE    FALSE       FALSE  FALSE FALSE
[10,] FALSE    FALSE       FALSE  FALSE FALSE
[11,] FALSE    FALSE       FALSE  FALSE FALSE
[12,] FALSE    FALSE       FALSE  FALSE FALSE
[13,] FALSE    FALSE       FALSE  FALSE FALSE
[14,] FALSE    FALSE       FALSE  FALSE FALSE
[15,] FALSE    FALSE       FALSE  FALSE FALSE
[16,] FALSE    FALSE       FALSE  FALSE  TRUE
[17,] FALSE    FALSE       FALSE  FALSE FALSE
[18,] FALSE    FALSE       FALSE  FALSE FALSE
[19,] FALSE    FALSE       FALSE  FALSE FALSE

In [18]:
str(df)

'data.frame':	19 obs. of  5 variables:
 $ District   : Factor w/ 19 levels "Ahmednagar","Aurangabad",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Highlighter: int  225 162 30 193 81 108 119 162 107 111 ...
 $ Marker     : int  51 159 32 390 243 118 160 281 121 240 ...
 $ Pen        : int  674 755 616 553 518 352 391 386 280 761 ...
 $ Refill     : int  69 50 38 40 NA NA 29 156 33 28 ...

In [20]:
seq(1, 100, by=8)

 [1]  1  9 17 25 33 41 49 57 65 73 81 89 97

In [25]:
table(df$District, useNA = "ifany")

 Ahmednagar  Aurangabad    Buldhana       Dhule         Goa    Kolhapur
          1           1           1           1           1           1
     Mumbai    Nadurbar      Nagpur      Nanded       Nasik        Pune
          1           1           1           1           1           1
     Raigad   Ratnagiri      Sangli      Satara Sindhudurga     Solapur
          1           1           1           1           1           1
      Thane
          1

In [34]:
table(df$District)
prop.table(table(df$District))

 Ahmednagar  Aurangabad    Buldhana       Dhule         Goa    Kolhapur
          1           1           1           1           1           1
     Mumbai    Nadurbar      Nagpur      Nanded       Nasik        Pune
          1           1           1           1           1           1
     Raigad   Ratnagiri      Sangli      Satara Sindhudurga     Solapur
          1           1           1           1           1           1
      Thane
          1

 Ahmednagar  Aurangabad    Buldhana       Dhule         Goa    Kolhapur
 0.05263158  0.05263158  0.05263158  0.05263158  0.05263158  0.05263158
     Mumbai    Nadurbar      Nagpur      Nanded       Nasik        Pune
 0.05263158  0.05263158  0.05263158  0.05263158  0.05263158  0.05263158
     Raigad   Ratnagiri      Sangli      Satara Sindhudurga     Solapur
 0.05263158  0.05263158  0.05263158  0.05263158  0.05263158  0.05263158
      Thane
 0.05263158

In [37]:
df$Refill
cut(df$Refill, breaks = 4)
cut(df$Refill, breaks=c(0,10,20,30,40,50,60,70,80,90,100,110,160))

 [1]  69  50  38  40  NA  NA  29 156  33  28  65 122  40  74  47  NA  77  15  58

 [1] (50.2,85.5] (14.9,50.2] (14.9,50.2] (14.9,50.2] <NA>        <NA>
 [7] (14.9,50.2] (121,156]   (14.9,50.2] (14.9,50.2] (50.2,85.5] (121,156]
[13] (14.9,50.2] (50.2,85.5] (14.9,50.2] <NA>        (50.2,85.5] (14.9,50.2]
[19] (50.2,85.5]
Levels: (14.9,50.2] (50.2,85.5] (85.5,121] (121,156]

 [1] (60,70]   (40,50]   (30,40]   (30,40]   <NA>      <NA>      (20,30]
 [8] (110,160] (30,40]   (20,30]   (60,70]   (110,160] (30,40]   (70,80]
[15] (40,50]   <NA>      (70,80]   (10,20]   (50,60]
12 Levels: (0,10] (10,20] (20,30] (30,40] (40,50] (50,60] (60,70] ... (110,160]

In [38]:
sample(df$District, size = 3)

[1] Buldhana  Ratnagiri Nanded
19 Levels: Ahmednagar Aurangabad Buldhana Dhule Goa Kolhapur ... Thane

In [39]:
ifelse(df$Refill > 100, "Good", "Bad")

 [1] "Bad"  "Bad"  "Bad"  "Bad"  NA     NA     "Bad"  "Good" "Bad"  "Bad"
[11] "Bad"  "Good" "Bad"  "Bad"  "Bad"  NA     "Bad"  "Bad"  "Bad"

In [42]:
mean(df$Pen>1000, na.rm=T)
sd(df$Pen>1000, na.rm=T)
var(df$Pen>1000, na.rm=T)

[1] 0.1052632

[1] 0.3153018

[1] 0.0994152

In [43]:
summary(df$Pen>1000, na.rm=T)

   Mode   FALSE    TRUE
logical      17       2

In [44]:
summary(df$Pen)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  221.0   388.5   553.0   615.4   744.0  1504.0

In [46]:
summary(df$District)

 Ahmednagar  Aurangabad    Buldhana       Dhule         Goa    Kolhapur
          1           1           1           1           1           1
     Mumbai    Nadurbar      Nagpur      Nanded       Nasik        Pune
          1           1           1           1           1           1
     Raigad   Ratnagiri      Sangli      Satara Sindhudurga     Solapur
          1           1           1           1           1           1
      Thane
          1

In [52]:
summary(df)

       District   Highlighter        Marker           Pen
 Ahmednagar: 1   Min.   : 30.0   Min.   : 32.0   Min.   : 221.0
 Aurangabad: 1   1st Qu.:107.5   1st Qu.:138.5   1st Qu.: 388.5
 Buldhana  : 1   Median :152.0   Median :217.0   Median : 553.0
 Dhule     : 1   Mean   :145.3   Mean   :214.0   Mean   : 615.4
 Goa       : 1   3rd Qu.:169.0   3rd Qu.:263.5   3rd Qu.: 744.0
 Kolhapur  : 1   Max.   :326.0   Max.   :436.0   Max.   :1504.0
 (Other)   :13
     Refill
 Min.   : 15.00
 1st Qu.: 36.75
 Median : 48.50
 Mean   : 58.81
 3rd Qu.: 70.25
 Max.   :156.00
 NA's   :3

In [54]:
attach(df)
District

The following objects are masked from df (pos = 3):

    District, Highlighter, Marker, Pen, Refill


The following objects are masked from df (pos = 4):

    District, Highlighter, Marker, Pen, Refill


The following objects are masked from df (pos = 5):

    District, Highlighter, Marker, Pen, Refill


The following objects are masked from df (pos = 6):

    District, Highlighter, Marker, Pen, Refill

In [55]:
calMean <- function(input){
    mean(input)
}

In [56]:
calMean(df$Highlighter)

[1] 145.2632