In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

**dplyr**

• All the functions in package dplyr require an object of class *tbl_df*

• We can create an object of class tbl_df. It can be created by function *as_tibble*

A tibble, or tbl_df, is a modern reimagining of the data.frame. It has a convenient print method, will not convert strings to factors, and does not use row names

In [2]:
head(mtcars)
dd <- as_tibble(mtcars)
class(dd)
head(dd)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

[1] "tbl_df"     "tbl"        "data.frame"

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [3]:
tbl1 <- read.csv("Cars93.csv")
head(tbl1)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

In [4]:
tbl2 <- arrange(tbl1, desc(Manufacturer), Model)
head(tbl2)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Volvo        240     Compact 21.8      22.7  23.5      21       28
2 Volvo        850     Midsize 24.8      26.7  28.5      20       28
3 Volkswagen   Corrado Sporty  22.9      23.3  23.7      18       25
4 Volkswagen   Eurovan Van     16.6      19.7  22.7      17       21
5 Volkswagen   Fox     Small    8.7       9.1   9.5      25       33
6 Volkswagen   Passat  Compact 17.6      20.0  22.4      21       30
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 Driver only        Rear       ⋯ 5          190    104       67    37
2 Driver & Passenger Front      ⋯ 5          184    105       69    38
3 None               Front      ⋯ 4          159     97       66    36
4 None               Front      ⋯ 7          187    115       72    38
5 None               Front      ⋯ 4          163     93       63    34
6 None               Front      ⋯ 5          180    103       67    35
  Rear.seat.room Luggage.room Weight Origin  Make
1 29.5           14           2985   non-USA Volvo 240
2 30.0           15           3245   non-USA Volvo 850
3 26.0           15           2810   non-USA Volkswagen Corrado
4 34.0           NA           3960   non-USA Volkswagen Eurovan
5 26.0           10           2240   non-USA Volkswagen Fox
6 31.5           14           2985   non-USA Volkswagen Passat

In [5]:
tbl3 <- select(tbl1, 1:3)
head(tbl3)

  Manufacturer Model   Type
1 Acura        Integra Small
2 Acura        Legend  Midsize
3 Audi         90      Compact
4 Audi         100     Midsize
5 BMW          535i    Midsize
6 Buick        Century Midsize

In [6]:
tbl4 <- select(tbl1, Model:Price)
head(tbl4)

  Model   Type    Min.Price Price
1 Integra Small   12.9      15.9
2 Legend  Midsize 29.2      33.9
3 90      Compact 25.9      29.1
4 100     Midsize 30.8      37.7
5 535i    Midsize 23.7      30.0
6 Century Midsize 14.2      15.7

In [7]:
tbl5 <- select(tbl1, ends_with("Price"))
head(tbl5)

  Min.Price Price Max.Price
1 12.9      15.9  18.8
2 29.2      33.9  38.7
3 25.9      29.1  32.3
4 30.8      37.7  44.6
5 23.7      30.0  36.2
6 14.2      15.7  17.3

In [8]:
tbl6 <- filter(tbl1, Price>40.0)
tbl6

  Manufacturer  Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Cadillac      Seville Midsize 37.5      40.1  42.7      16       25
2 Infiniti      Q45     Midsize 45.4      47.9  50.4      17       22
3 Mercedes-Benz 300E    Midsize 43.8      61.9  80.0      19       25
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 Driver & Passenger Front      ⋯ 5          204    111       74    44
2 Driver only        Rear       ⋯ 5          200    113       72    42
3 Driver & Passenger Rear       ⋯ 5          187    110       69    37
  Rear.seat.room Luggage.room Weight Origin  Make
1 31             14           3935   USA     Cadillac Seville
2 29             15           4000   non-USA Infiniti Q45
3 27             15           3525   non-USA Mercedes-Benz 300E

In [9]:
tbl7 <- filter(tbl1, Manufacturer %in% c("Volvo", "Mercedes-Benz"))
tbl7

  Manufacturer  Model Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Mercedes-Benz 190E  Compact 29.0      31.9  34.9      20       29
2 Mercedes-Benz 300E  Midsize 43.8      61.9  80.0      19       25
3 Volvo         240   Compact 21.8      22.7  23.5      21       28
4 Volvo         850   Midsize 24.8      26.7  28.5      20       28
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 Driver only        Rear       ⋯ 5          175    105       67    34
2 Driver & Passenger Rear       ⋯ 5          187    110       69    37
3 Driver only        Rear       ⋯ 5          190    104       67    37
4 Driver & Passenger Front      ⋯ 5          184    105       69    38
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.0           12           2920   non-USA Mercedes-Benz 190E
2 27.0           15           3525   non-USA Mercedes-Benz 300E
3 29.5           14           2985   non-USA Volvo 240
4 30.0           15           3245   non-USA Volvo 850

In [10]:
head(tbl1)
tbl8 <- rename(tbl1, Minimum=Min.Price, Maximum=Max.Price)
head(tbl8)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

  Manufacturer Model   Type    Minimum Price Maximum MPG.city MPG.highway
1 Acura        Integra Small   12.9    15.9  18.8    25       31
2 Acura        Legend  Midsize 29.2    33.9  38.7    18       25
3 Audi         90      Compact 25.9    29.1  32.3    20       26
4 Audi         100     Midsize 30.8    37.7  44.6    19       26
5 BMW          535i    Midsize 23.7    30.0  36.2    22       30
6 Buick        Century Midsize 14.2    15.7  17.3    22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

In [11]:
head(tbl1)
tbl9 <- mutate(tbl1, PriceRange=Max.Price - Min.Price)
head(tbl9)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 177    102       68    37
2 Driver & Passenger Front      ⋯ 195    115       71    38
3 Driver only        Front      ⋯ 180    102       67    37
4 Driver & Passenger Front      ⋯ 193    106       70    37
5 Driver only        Rear       ⋯ 186    109       69    39
6 Driver only        Front      ⋯ 189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make          PriceRange
1 26.5           11           2705   non-USA Acura Integra  5.9
2 30.0           15           3560   non-USA Acura Legend   9.5
3 28.0           14           3375   non-USA Audi 90        6.4
4 31.0           17           3405   non-USA Audi 100      13.8
5 27.0           13           3640   non-USA BMW 535i      12.5
6 28.0           16           2880   USA     Buick Century  3.1

In [12]:
summarise(tbl1, avg.Price=mean(Price, na.rm=T), avg.Wheelbase=mean(Wheelbase, na.rm=T),
          avg.Luggageroom=mean(Luggage.room, na.rm=T))

  avg.Price avg.Wheelbase avg.Luggageroom
1 19.50968  103.9462      13.89024

In [13]:
head(group_by(tbl1))

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

In [14]:
filter(select(tbl1, Model, Price, Type), Type=="Compact")

   Model    Price Type
1  90       29.1  Compact
2  Cavalier 13.4  Compact
3  Corsica  11.4  Compact
4  LeBaron  15.8  Compact
5  Spirit   13.3  Compact
6  Tempo    11.3  Compact
7  Accord   17.5  Compact
8  626      16.5  Compact
9  190E     31.9  Compact
10 Altima   15.7  Compact
11 Achieva  13.5  Compact
12 Sunbird  11.1  Compact
13 900      28.7  Compact
14 Legacy   19.5  Compact
15 Passat   20.0  Compact
16 240      22.7  Compact

In [15]:
tbl1 %>% select(Model, Price, Type) %>% filter(Type=="Compact")

   Model    Price Type
1  90       29.1  Compact
2  Cavalier 13.4  Compact
3  Corsica  11.4  Compact
4  LeBaron  15.8  Compact
5  Spirit   13.3  Compact
6  Tempo    11.3  Compact
7  Accord   17.5  Compact
8  626      16.5  Compact
9  190E     31.9  Compact
10 Altima   15.7  Compact
11 Achieva  13.5  Compact
12 Sunbird  11.1  Compact
13 900      28.7  Compact
14 Legacy   19.5  Compact
15 Passat   20.0  Compact
16 240      22.7  Compact