In [1]:
df <- read.csv("comb1.csv")
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
tbl <- as_tibble(df)
head(tbl)

  District   Highlighter Marker Pen Refill
1 Ahmednagar 225          51    674 69
2 Aurangabad 162         159    755 50
3 Buldhana    30          32    616 38
4 Dhule      193         390    553 40
5 Goa         81         243    518 NA
6 Kolhapur   108         118    352 NA

In [3]:
tbl2 <- gather(tbl, 'Highlighter', 'Marker', 'Pen', 'Refill', key="type", value="value")
head(tbl2)

  District   type        value
1 Ahmednagar Highlighter 225
2 Aurangabad Highlighter 162
3 Buldhana   Highlighter  30
4 Dhule      Highlighter 193
5 Goa        Highlighter  81
6 Kolhapur   Highlighter 108

In [4]:
tbl2 <- tbl %>% gather('Highlighter', 'Marker', 'Pen', 'Refill', key="type", value="value")
head(tbl2)

  District   type        value
1 Ahmednagar Highlighter 225
2 Aurangabad Highlighter 162
3 Buldhana   Highlighter  30
4 Dhule      Highlighter 193
5 Goa        Highlighter  81
6 Kolhapur   Highlighter 108

In [5]:
tbl3 <- spread(tbl2, key="type", value="value")
head(tbl3)

  District   Highlighter Marker Pen Refill
1 Ahmednagar 225          51    674 69
2 Aurangabad 162         159    755 50
3 Buldhana    30          32    616 38
4 Dhule      193         390    553 40
5 Goa         81         243    518 NA
6 Kolhapur   108         118    352 NA

In [6]:
df2 <- read.csv("Bankruptcy.csv")
tbl4 <- as_tibble(df2)
head(tbl4)

  NO D YR R1   R2   R3   R4   R5   R6   R7   ⋯ R15   R16  R17  R18  R19   R20
1 1  0 78 0.23 0.08 0.02 0.03 0.46 0.12 0.19 ⋯  0.05 0.57 0.15 0.23  3.56 0.26
2 2  0 77 0.19 0.07 0.09 0.12 0.02 0.02 0.03 ⋯  0.09 0.12 0.16 0.22  3.78 1.29
3 3  0 72 0.07 0.02 0.03 0.05 0.06 0.10 0.14 ⋯ -0.03 0.02 0.02 0.04 13.29 1.61
4 4  0 80 0.07 0.03 0.04 0.04 0.04 0.06 0.06 ⋯ -0.02 0.01 0.02 0.02  5.36 1.30
5 5  0 81 0.09 0.02 0.03 0.04 0.06 0.08 0.11 ⋯  0.02 0.07 0.10 0.14  7.74 1.48
6 6  0 70 0.24 0.07 0.14 0.22 0.10 0.18 0.29 ⋯  0.10 0.06 0.11 0.18  9.82 1.82
  R21  R22   R23   R24
1 1.55  0.43  0.11  0.17
2 1.40  0.06  0.07  0.10
3 1.43  0.03  0.05  0.07
4 1.12 -0.06 -0.08 -0.09
5 1.41  0.03  0.04  0.06
6 1.60  0.06  0.11  0.18

In [7]:
df3 <- read.csv("comb2.csv")
tbl5 <- as_tibble(df3)
tbl5

   PatientID  Lab_test Result
1  123-984/45 A        Present
2  123-345/34 A        Absent
3  134-093/43 A        Present
4  190-032/34 B        Present
5  190-309/32 B        Absent
6  234-092/23 B        Present
7  231-902/21 B        Absent
8  231-309/21 A        Absent
9  134-092/34 B        Present
10 234-984/43 A        Present

In [8]:
tbl6 <- separate(tbl5, col=PatientID, into=c("ID1", "ID2", "ID3"))
tbl6

   ID1 ID2 ID3 Lab_test Result
1  123 984 45  A        Present
2  123 345 34  A        Absent
3  134 093 43  A        Present
4  190 032 34  B        Present
5  190 309 32  B        Absent
6  234 092 23  B        Present
7  231 902 21  B        Absent
8  231 309 21  A        Absent
9  134 092 34  B        Present
10 234 984 43  A        Present

In [9]:
tbl7 <- unite(tbl6, ID, ID1, ID2, sep="-")
tbl7

   ID      ID3 Lab_test Result
1  123-984 45  A        Present
2  123-345 34  A        Absent
3  134-093 43  A        Present
4  190-032 34  B        Present
5  190-309 32  B        Absent
6  234-092 23  B        Present
7  231-902 21  B        Absent
8  231-309 21  A        Absent
9  134-092 34  B        Present
10 234-984 43  A        Present

In [10]:
tbl8 <- unite(tbl7, ID, ID, ID3, sep="/")
tbl8

   ID         Lab_test Result
1  123-984/45 A        Present
2  123-345/34 A        Absent
3  134-093/43 A        Present
4  190-032/34 B        Present
5  190-309/32 B        Absent
6  234-092/23 B        Present
7  231-902/21 B        Absent
8  231-309/21 A        Absent
9  134-092/34 B        Present
10 234-984/43 A        Present

In [11]:
df4 <- read.csv("store.csv")
tbl9 <- as_tibble(df4)
head(tbl9)

  Store StoreType Assortment CompetitionDistance CompetitionOpenSinceMonth
1 1     c         a           1270                9
2 2     a         a            570               11
3 3     a         a          14130               12
4 4     c         c            620                9
5 5     a         a          29910                4
6 6     a         a            310               12
  CompetitionOpenSinceYear Promo2 Promo2SinceWeek Promo2SinceYear
1 2008                     0      NA                NA
2 2007                     1      13              2010
3 2006                     1      14              2011
4 2009                     0      NA                NA
5 2015                     0      NA                NA
6 2013                     0      NA                NA
  PromoInterval
1
2 Jan,Apr,Jul,Oct
3 Jan,Apr,Jul,Oct
4
5
6

In [12]:
tbl10 <- tbl9 %>% drop_na()
head(tbl10)

  Store StoreType Assortment CompetitionDistance CompetitionOpenSinceMonth
1  2    a         a            570               11
2  3    a         a          14130               12
3 11    a         c            960               11
4 14    a         a           1300                3
5 15    d         c           4110                3
6 17    a         a             50               12
  CompetitionOpenSinceYear Promo2 Promo2SinceWeek Promo2SinceYear
1 2007                     1      13              2010
2 2006                     1      14              2011
3 2011                     1       1              2012
4 2014                     1      40              2011
5 2010                     1      14              2011
6 2005                     1      26              2010
  PromoInterval
1 Jan,Apr,Jul,Oct
2 Jan,Apr,Jul,Oct
3 Jan,Apr,Jul,Oct
4 Jan,Apr,Jul,Oct
5 Jan,Apr,Jul,Oct
6 Jan,Apr,Jul,Oct

In [14]:
df <- data.frame(Month = 1:12, Year = c(2000, rep(NA, 11)))
df
df %>% fill(Year)

   Month Year
1   1    2000
2   2      NA
3   3      NA
4   4      NA
5   5      NA
6   6      NA
7   7      NA
8   8      NA
9   9      NA
10 10      NA
11 11      NA
12 12      NA

   Month Year
1   1    2000
2   2    2000
3   3    2000
4   4    2000
5   5    2000
6   6    2000
7   7    2000
8   8    2000
9   9    2000
10 10    2000
11 11    2000
12 12    2000