**Q1.** Given Orders.csv file in the folder datasets. Import the file into R and generate the following outputs:

**a.** Display the meta-data of its data frame object

In [1]:
df <- read.csv("Orders.csv")
str(df)

'data.frame':	70 obs. of  4 variables:
 $ Order.ID         : Factor w/ 70 levels "32 90 001","32 90 002",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Order.Date       : Factor w/ 67 levels "1-Jan-12","1-Mar-11",..: 63 66 31 37 42 2 64 35 44 59 ...
 $ Place.of.Shipment: Factor w/ 19 levels "Ahmednagar","Aurangabad",..: 12 11 1 10 6 3 11 12 7 19 ...
 $ Payment.Terms    : Factor w/ 3 levels "Cash","Cheque",..: 2 3 1 2 1 3 3 3 3 3 ...

**b.** Descriptive Statistics:

In [2]:
summary(df)

      Order.ID      Order.Date   Place.of.Shipment Payment.Terms
 32 90 001: 1   13-Jan-13: 2   Ratnagiri  : 8      Cash  :18
 32 90 002: 1   14-Apr-13: 2   Dhule      : 5      Cheque:23
 32 90 003: 1   19-Aug-11: 2   Raigad     : 5      Online:29
 32 90 004: 1   1-Jan-12 : 1   Sindhudurga: 5
 32 90 005: 1   1-Mar-11 : 1   Aurangabad : 4
 32 90 006: 1   1-Mar-13 : 1   Nasik      : 4
 (Other)  :64   (Other)  :61   (Other)    :39

**Q2.** Import the file Bollywood_2015.csv and generate the following outputs for variable BO_COLLECTION:

**a.** Binning the data:

In [3]:
df <- read.csv("Bollywood_2015.csv")
df2 <- cut(df$BO_Collection, breaks=5)
df2

 [1] (0.78,67.1] (0.78,67.1] (67.1,133]  (0.78,67.1] (0.78,67.1] (0.78,67.1]
 [7] (0.78,67.1] (0.78,67.1] (0.78,67.1] (67.1,133]  (0.78,67.1] (0.78,67.1]
[13] (0.78,67.1] (67.1,133]  (0.78,67.1] (265,331]   (0.78,67.1] (67.1,133]
[19] (0.78,67.1] (0.78,67.1] (67.1,133]  (0.78,67.1] (0.78,67.1] (0.78,67.1]
[25] (0.78,67.1] (67.1,133]  (133,199]   (0.78,67.1] (67.1,133]  (67.1,133]
[31] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1]
[37] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1] (0.78,67.1]
[43] (0.78,67.1] (0.78,67.1] (0.78,67.1] (67.1,133]  (0.78,67.1] (0.78,67.1]
[49] (0.78,67.1] (265,331]   (0.78,67.1] (0.78,67.1]
Levels: (0.78,67.1] (67.1,133] (133,199] (199,265] (265,331]

**b.** Generating the frequency counts

In [4]:
df3 <- table(df2)
df3

df2
(0.78,67.1]  (67.1,133]   (133,199]   (199,265]   (265,331]
         40           9           1           0           2

**c.** Precentages of corresponding frequency counts:

In [5]:
prop.table(df3)

df2
(0.78,67.1]  (67.1,133]   (133,199]   (199,265]   (265,331]
 0.76923077  0.17307692  0.01923077  0.00000000  0.03846154

**Q3.** Draw a random sample with replacement of size 80 from the values of the variable Qty from dataset
Ord_Details.csv

In [6]:
df <- read.csv("Ord_Details.csv")
sample(df$Qty, size=80, replace = T)

 [1] 18 21  2 10  5 21  4 48 20 20 15 46 44 24 30 14  1 11 43 31 36 21 39 22 44
[26] 11 12 17 29 45 39 42 28 21  6 11 16  2  4  8 44 41 46 33 17 11 37 43 41 43
[51]  1 44 18  1 37 42  4 50 35 49 45 43 11 15 49 29 39 45 16 34 44 13 38 17  5
[76] 18 44  9 32 37

**Q4.** Load the file events.RData. Data frame object events will get loaded in the memory.

The first 4 observations have been shown below :

In [7]:
load("events.Rdata")
events[1:4,]

  eventID occur
1 1       12
2 2       14
3 3       15
4 4       34

You need to create a column named dur which will calculate the difference in two consecutive values in the
variable occur as shown below:

In [8]:
dur <- array(dim=nrow(events))
dur[1] <- events$occur[1]
dur[2:15] <- diff(events$occur)
events <- cbind(events, dur)
events

   eventID occur dur
1   1       12   12
2   2       14    2
3   3       15    1
4   4       34   19
5   5       45   11
6   6       46    1
7   7       57   11
8   8       63    6
9   9       76   13
10 10       88   12
11 11      110   22
12 12      114    4
13 13      132   18
14 14      132    0
15 15      138    6

**Q5.** Create a function which accepts a number as temperature in degrees Fahrenheit and returns the
temperature in Celsius

In [9]:
tempC <- function(f){(f-32)*5/9}
tempC(100)

[1] 37.77778

**Q6.** Create a function which accepts a numeric variable(input) and outputs a data frame containing two
calculated values namely, mean(input) – 2 SD(input) and mean(input) + 2 SD(input). Take care that null
values get removed before calculation

In [10]:
fun <- function(input){
    m <- mean(input, na.rm=T)
    std <- sd(input, na.rm=T)
    out <- m-2*std + m+2*std
    out
}

In [11]:
s <- c(2, 3, NA, 5, 19, 14)
fun(s)

[1] 17.2

**Q7.** Create a function which accepts a numeric variable(input)and outputs its coefficient of variation with
formula: (SD / mean) *100

In [12]:
cov <- function(input){
    m <- mean(input, na.rm=T)
    std <- sd(input, na.rm=T)
    out <- std/m*100
    out
}

In [13]:
s <- c(2, 3, NA, 5, 19, 14)
cov(s)

[1] 87.24805

**Q8.** Create a function which can impute the missing values in a numeric vector by mean. That means, the function
should take a numeric vector as an argument and return a numeric vector in which NA values will be found
imputed.

In [14]:
imputeMean <- function(input){
    m <- mean(input, na.rm=T)
    impu <- ifelse(is.na(input)==T, m, input)
    impu
}

OR

In [15]:
imputeMean <- function(input){
    m <- mean(input, na.rm=T)
    input[is.na(input)] <- m
    input
}

In [16]:
s <- c(2, 3, NA, 5, 19, 14)
imputeMean(s)

[1]  2.0  3.0  8.6  5.0 19.0 14.0